.mainContainer {
    width: 500px;
    border-radius: 15px;
}

.BtnContainer {
    display: flex;
    /* background-color: black; */
    justify-content: center;
}

.baseLinkContainer {
    display: flex;
    justify-content: center;
}

.insideFormContainer {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-top: 80px;
    /* background-color: blueviolet; */
}

.profressContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 250px;
    align-items: center;
    /* background-color: brown; */
}

.spanTxt {
    fontSize: 20;
    margin: 5;
}